In [2]:
from sys import version
print(version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [3]:
# Importing the Library
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import matplotlib
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (6, 6) # Figure-size 
import seaborn as sns
pd.set_option('display.max_columns', 100) # Display 100 columns

import warnings
warnings.filterwarnings('ignore')

Machine Learning Library

In [4]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split as tts
from sklearn.model_selection import GridSearchCV as gscv

In [5]:
scaler = StandardScaler()
encoder = LabelEncoder()

Reading the data

In [6]:
try:
    df = pd.read_csv(data:='C:\\Users\\LEGION\\Desktop\\Kolar_Soil_Analysis\\Data\\Raw Data\\Main_RAW.xlsx')
except:
    df = pd.read_excel(data)

EDA

In [8]:
# Printing the Shape and Size
df.shape, df.size

((4467, 27), 120609)

In [9]:
# Checking the basic data
df.head(3)

,SL.no,Sample No,Name of Village,Sampled Year,Farmer Name,Land Area,Survey No,Longitude,Lattitude,pH,EC,OC,P,K,S,Zn,Fe,Cu,Mn,B,Fertility Index,Crop Name,Irrigation Pattern,Crop Rotation,Fertilizer Used,Yield Returns,YR(Label)
0,1,KA622917/2016-17/7578984,Varadaganahalli Avani Hobli,2016-17,Mangamma,1.0,13,78.555278,13.234444,5.70000 MAc,0.61000 N,0.16000 VL,7.00000 VL,201.00000 M,48.40000 S,0.32000 D,10.61000 S,0.22000 S,4.37000 S,0.70000 S,1.0,Tomato Hybrid,Irrigation,No,Organic,High,1
1,2,KA622917/2016-17/7564857,Varadaganahalli Avani Hobli,2016-17,Kere,1.0,14,78.563611,13.242500,7.40000 MAl,0.86000 N,0.41000 L,206.00000 VH,258.00000 M,293.00000 S,0.61000 S,3.83000 D,0.31000 S,7.39000 S,4.00000 S,4.0,"Mulberry, silk plant",Rainfeed,No,InOrganic,Moderate,3
2,3,KA622917/2016-17/7564857,Varadaganahalli Avani Hobli,2016-17,LAKSHMAYYA S/O CHIKKAMUNEPPA,0.6,16,78.563611,13.242500,7.40000 MAl,0.86000 N,0.41000 L,206.00000 VH,258.00000 M,293.00000 S,0.61000 S,3.83000 D,0.31000 S,7.39000 S,4.00000 S,1.0,Corn - local,Rainfeed,No,Organic,High,1

In [10]:
df.tail(2)

,SL.no,Sample No,Name of Village,Sampled Year,Farmer Name,Land Area,Survey No,Longitude,Lattitude,pH,EC,OC,P,K,S,Zn,Fe,Cu,Mn,B,Fertility Index,Crop Name,Irrigation Pattern,Crop Rotation,Fertilizer Used,Yield Returns,YR(Label)
4465,4466,KA622935/2020-21/31828739,Avani Hobli,2020-21,R B KEMPEGOWDA,4.34,254,78.33520,13.108749,6.70000 SlAc,0.52000 N,0.40000 L,98.00000 VH,237.00000 M,14.80000 S,1.34000 S,6.68000 S,1.10000 S,11.11000 S,0.60000 S,3.0,Paddy-high yield,Irrigation,No,Organic,Moderate,3
4466,4467,KA622935/2020-21/31828745,Avani Hobli,2020-21,MUNIVENKATAPPA,2.00,255,78.37071,13.104870,6.30000 MAc,0.39000 N,0.20000 VL,51.00000 M,255.00000 M,30.70000 S,1.55000 S,8.23000 S,0.85000 S,25.29000 S,0.20000 D,3.0,Paddy-high yield,Irrigation,No,Organic,Moderate,3

In [72]:
# Checkig the null-values
df.isna().sum()

SL.no                  0
Sample No              1
Name of Village        1
Sampled Year           1
Farmer Name            1
Land Area             11
Survey No              1
Longitude              3
Lattitude              3
pH                     1
EC                     1
OC                     2
P                      2
K                      1
S                      1
Zn                     1
Fe                     2
Cu                     1
Mn                     1
B                      1
Fertility Index        2
Crop Name              1
Irrigation Pattern     6
Crop Rotation          2
Fertilizer Used        2
Yield Returns          2
YR(Label)              2
dtype: int64

In [70]:
# Checking the D-types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4467 entries, 0 to 4466
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SL.no               4467 non-null   int64
 1   Sample No           4466 non-null   object
 2   Name of Village     4466 non-null   object
 3   Sampled Year        4466 non-null   object
 4   Farmer Name         4466 non-null   object
 5   Land Area           4456 non-null   float64
 6   Survey No           4466 non-null   object
 7   Longitude           4464 non-null   float64
 8   Lattitude           4464 non-null   float64
 9   pH                  4466 non-null   object
 10  EC                  4466 non-null   object
 11  OC                  4465 non-null   object
 12  P                   4465 non-null   object
 13  K                   4466 non-null   object
 14  S                   4466 non-null   object
 15  Zn                  4466 non-null   object
 16  Fe                  4465 non-null   object
 17  Cu                  4466 non-null   object
 18  Mn                  4466 non-null   object
 19  B                   4466 non-null   object
 20  Fertility Index     4465 non-null   float64
 21  Crop Name           4466 non-null   object
 22  Irrigation Pattern  4461 non-null   object
 23  Crop Rotation       4465 non-null   object
 24  Fertilizer Used     4465 non-null   object
 25  Yield Returns       4465 non-null   object
 26  YR(Label)           4465 non-null   object
dtypes: float64(4), int64(1), object(22)
memory usage: 942.4+ KB

We need to convert the Objects into respective datatypes

Removing the Unwanted-Values

In [80]:
df.columns

Index(['SL.no', 'Sample No', 'Name of Village', 'Sampled Year', 'Farmer Name',
       'Land Area', 'Survey No', 'Longitude', 'Lattitude', 'pH', 'EC', 'OC',
       'P', 'K', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B', 'Fertility Index',
       'Crop Name', 'Irrigation Pattern', 'Crop Rotation', 'Fertilizer Used',
       'Yield Returns', 'YR(Label)'],
      dtype='object')

In [89]:
df.drop(['SL.no','Sample No', 'Farmer Name', 'Survey No'], axis=1, inplace=True)

In [90]:
df.head(1)

,Name of Village,Sampled Year,Land Area,Longitude,Lattitude,pH,EC,OC,P,K,S,Zn,Fe,Cu,Mn,B,Fertility Index,Crop Name,Irrigation Pattern,Crop Rotation,Fertilizer Used,Yield Returns,YR(Label)
0,Varadaganahalli Avani Hobli,2016-17,1.0,78.555278,13.234444,5.70000 MAc,0.61000 N,0.16000 VL,7.00000 VL,201.00000 M,48.40000 S,0.32000 D,10.61000 S,0.22000 S,4.37000 S,0.70000 S,1.0,Tomato Hybrid,Irrigation,No,Organic,High,1